body{
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
    width: 340px;
}
img{
    border-radius: 15px;
    width: 310px;
}

.text{
    padding: 0 10px;
}
.header{
    font-size: 25px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.paragraph{
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: hsl(216, 15%, 48%);
}